.dataentry {
  margin-top: 20px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px 10px 10px 10px;
}

.purchase {
  margin-top: 10px;
}

.expenselist {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
