header{
	text-align: center;
	width: 500px;
	font: bold 40px sans;
	clear: both;
	margin: 0 auto;
	color: yellow;

}

#can{
	width: 600px;
	height: 600px;
	margin:0 auto;
	padding-top: 50px;
}

canvas{
	width: 600px;
	height: 600px;
	margin: 0 auto;
}

body{
	background-image: url('http://fc08.deviantart.net/fs71/f/2010/241/9/8/9875fcf2778ab55dbb7987a222acf2e1-d2xcjhn.png');
	background-size: 100%;
}
