canvas{
	margin:0px;
	padding:0px;
	border:#666666 dashed;
}

body{
	margin:0px;
	background:#333333;
}

.label{
	font-weight:bold;
}

.label span{
	font-weight:normal;
}
p {
	width: 30%;
	color: #999999;
}
